// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
//https://bloggie.io/@omegachien/laravel-datatable-installation
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.active a{
	color: grey !important;
 	
 	&:hover{
 		color: $grey !important;
 		
 	}
}

.img-div{
	height: 100%;

}
.event-img{
	max-width:100%;
	max-height:100%
}

